<div class="fondoPantalla">
    <div class="problematica">
        <div class="bg-white px-12 py-6 rounded-xl mx-6 my-6 shadow-[0px_0px_15px_0px_rgba(59,130,246,0.5)]">  
            <h1 class="text-center font-bold text-lg">UPPERCASE PIPE</h1>
            <br>
            <div>
                <label for="valor">Valor: </label>
                <input type="text" name="valor" id="valor" [(ngModel)]="palabra"
                    class="border border-blue-300 rounded outline-none pl-1 py-1">
            </div>
            <br>
            <div>
                <p><span class="font-bold">Resultado: </span>{{palabra | uppercase}}</p>
            </div>
        </div>
        <br>
        <div class="bg-white px-12 py-6 mx-6 my-6 rounded-xl shadow-[0px_0px_15px_0px_rgba(59,130,246,0.5)]">
            <h1 class="text-center font-bold text-lg">CURRENCY PIPES</h1>
            <br>
            <div>
                <label for="monto">Valor: </label>
                <input type="number" name="monto" id="monto" [(ngModel)]="monto"
                    class="border border-blue-300 rounded outline-none pl-1 py-1">
            </div>
            <br>
            <div>
                <select class="border border-zinc-400 rounded outline-none" [(ngModel)]="opciones">
                    <option value="ninguna">Seleccione el tipo de moneda</option>
                    <option value="dolar">USD</option>
                    <option value="euro">EUR</option>
                </select>
            </div>
            <br>
            <div>
                <p class="mt-12"> <span class="font-bold">Resultado: </span>
                    <span [ngSwitch]="opciones">
                        <span *ngSwitchCase="'dolar'">{{monto | currency:'USD':true}}</span>
                        <span *ngSwitchCase="'euro'">{{monto | currency:'EUR':true}}</span>
                        <span *ngSwitchDefault>(No eligió operación)</span>
                    </span>
                </p>
            </div>
        </div>
        <br>
        <div class="bg-white px-12 py-6 rounded-xl mx-6 my-6 shadow-[0px_0px_15px_0px_rgba(59,130,246,0.5)]">
            <div>
                <h1 class="text-center font-bold text-lg pb-5 ">JSON PIPES</h1>
                <ul *ngFor="let numero of myobjeto">
                    <pre>{{ numero | json }}</pre>
                </ul>
            </div>
        </div>
    </div>
</div>